# dependencias
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
next-env.d.ts

# produccion
dist/

# entorno
.env
.env*.local

# fumadocs
.source/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editores
.vscode/
.idea/
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride
